[Interface]
Address = {{ private_network }}.1/24
PrivateKey = {{ private_key_files.results[0].stdout }}
ListenPort = {{ wireguard_port }}
MTU = {{ wireguard_mtu }}
SaveConfig = true
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ interface.stdout }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ interface.stdout }} -j MASQUERADE